<a class="choice" href="/#/ChooseTvChar"> Click here to choose your favorite character!</a>
<script src="app/main.js"></script>

 <div id="bg">
  <img src="https://biographer4you.files.wordpress.com/2009/01/white-dot-on-tv.jpg" alt="">
</div>    
    <div class="slider">
    
     <img src="images/finalmRTTTT.jpg">

    <img src="images/flav.jpg">

    <img src="images/knigrid.jpg">
    
    <img src="images/DAdu2.jpg">
    
    
    <img src="images/345.jpg">

    <img src="images/finalAlex.jpg">

    

    <img src="images/murph.jpg">



</div>